/* Styles for Events component */
.my-component {
  display: flex;
  flex-direction: column;
}
.birthdayContainter {
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  padding: 20;
  background-color: #deeff9;
}

.anniversaryContainter {
  border-radius: 10px;
  margin-top: 10px;
  display: flex;
  padding: 20;
  background-color: #f8e5ff;
}

